@using (Html.BeginForm("Index", "Progress"))
{
    <div class="ui positive message">
        <div class="header">
            You have successfully submitted your application.
        </div>
        <p>Please navigate to using the buttons above to view progress</p>
    </div>
    
}
