@using Microsoft.AspNetCore.Authentication
@{
    ViewData["Title"] = "Home Page";

}
<div class="ui container">
    <div class="ui segment">
        <div class="ui segment">
            <h3 class="ui header">Welcome to the thirty third council website.</h3>

        </div>
        <p></p>
        <div class="ui segment">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
        </div>
        <p></p>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="ui segment">
                Please
            </div>
        }
        else
        {
            <div class="ui segment">
                <a class="item menuitem initiateFade" asp-area="" asp-controller="Home" asp-action="Processes"><i class="icon clone outline popup" data-html="Click to apply for services"></i>Click here to log in and apply for services</a>
            </div>
        }
    </div>
</div>