@model IndexModel
@{
    ViewData["Title"] = "IS Claims and Attestations";
}

<div class="text-center">
    <h1 class="display-4">Welcome  Sandy</h1>
</div>

<div class="card-group">
    <div class="card-body btn-info"><a asp-page="/Step1">Apply for a Blue Badge</a></div>
</div>
<p/>
<div class="card-header ">

    <div class="card-group">
        <div class="card-body col-lg-12 btn-success"><a asp-page="/Step1">Apply for a NIC card via Claims</a></div>
    </div>

    <div class="card-group">
        <div class="card-body col-lg-12 btn-success"><a asp-page="/Step1">AApply for a NIC card via Attestations</a></div>
    </div>
</div>


