@model PrivacyModel
@{
    ViewData["Title"] = "Progress";
}
<h1>@ViewData["Title"]</h1>

<p>Progress to be displayed like the executor.</p>


<div class="form-inline">
    <div>Step 1 - Done </div>
    <div>Step 2 - In Progress </div>
    <div>Step 3 - Todo </div>
    <div>Step 4 -To DO </div>

</div>
