@model MVC_App.Models.SiccarStatusCacheResponse
@{
    ViewData["Title"] = "Progress Reports";
}
<div class="ui container">
    <div class="ui segment">
        <div class="ui header medium">@ViewData["Title"]</div>

        @ViewData["Progress"]

        @if (Model != null)
        {
            @if (Model.ProgressReports.Count == 0)
            {
                <div class="ui header small">Please complete an application to start a process</div>
            }

            @foreach (var pr in Model.ProgressReports)
            {
                <partial name="RenderProgressReport" , model="@pr" />
            }
        }
    </div>
</div>