@model MVC_App.Models.SiccarStatusCacheProcessResponseViewModel
<div class="ui segment ">
    <div class="ui raised card bluebadgebackground ">
        <div class="content bluebadgecardheader">
            <div class="header bluebadge bluebadgeheader">
                National Entitlement Card
            </div>
        </div>
        <div class="content bluebadgecardcontent">
            <h4 class="ui sub header"></h4>
            <div class="ui tiny feed">
                @foreach (var kvp in Model.Attributes)
                {
                    <div class="event">
                        <div class="content">
                            <div class="ui labeled input">
                                <div class="ui label">
                                    @kvp.Key
                                </div>
                                @if (kvp.Value == "true")
                                {
                                    <img class="ui huge left floated image" src="~/images/tick.png" />
                                }
                                else
                                {
                                    <input type="text" disabled value="@kvp.Value">
                                }

                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>