@model PrivacyModel
@{
    ViewData["Title"] = "Step 1 ";
}
<h1>@ViewData["Title"]</h1>

<form>
    <div class="card-body">
        <div class="form-inline">
            <div class="form-check-label">First name</div>
            <div class="form-check-input"><input name="firstname" /></div>
        </div>
        <div class="form-inline">
            <div class="form-check-label">Last name</div>
            <div class="form-check-input"><input name="firstname" /></div>
        </div>
        <div class="form-inline">
            <div class="btn-primary">Submit</div>
        </div>



    </div>


</form>